.chat-message-group-box {
	max-width: 40%;
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.author {
	align-self: flex-end;

	flex-direction: row-reverse;
}

.chat-messages-group-messages-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
}

.author .chat-messages-group-messages-box {
	align-items: flex-end;
}

.chat-messages-group-messages-list {
	width: fit-content;

	display: flex;
	flex-direction: column-reverse;
    align-items: flex-start;
	gap: 8px;
}

.author .chat-messages-group-messages-list {
    align-items: flex-end;
}

.chat-message {
    min-width: 100px;
	width: fit-content;
	padding: 8px 8px 4px 12px;

	display: flex;
	flex-direction: column;

	color: white;
	background: #212121;

	border: 1px solid #212121;
	border-radius: 8px;
}

.chat-message .timestamp {
	align-self: flex-end;
	font-size: 10px;
}

.author .timestamp {
	align-self: flex-start;
}
