.chat-list-item {
    min-height: 64px;
	padding: 8px;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 16px;

	color: #212121;
	background: #fff;

	border-bottom: 1px solid #46494655;

	cursor: pointer;
	transition: 0.5s;
}

.chat-list-item:last-child {
	border-bottom: none;
}

.chat-list-item:hover {
	background-color: #eee;
}

.chat-list-item-info {
	min-width: 0;

	flex: 1;
	display: flex;
	flex-direction: column;
}

.chat-list-item-info span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.chat-list-item-name {
	font-size: 14px;
	font-weight: bold;
}

.chat-list-item-last-message-box {
    
    display: flex;
    flex-direction: column;

	color: #464946;
}

.last-message-content {
	font-size: 12px;
}

.last-message-timestamp {
    align-self: flex-end;
	font-size: 10px;
}
