.outer-box {
	padding: 16px;

	display: flex;
	flex-direction: column;
	gap: 16px;

	background: #eee;
	border-radius: 8px;
}

.inner-box {
	padding: 12px;

	display: flex;
	flex-direction: column;
	gap: 8px;

	background: #fff;
	border-radius: 8px;
}