.chat-bar {
    min-height: 60px;
	padding: 8px 16px;

	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 8px;

	color: #fff;
	background-color: #212121;

	cursor: pointer;
}

.chat-bar-icon, .chat-bar-name, .chat-bar-dropdown {
    min-width: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-bar-name {
    flex: 1;
    text-align: center;
}

.chat-bar-options {
    width: 32px;
    height: 32px;
}
